body {
  font-family: Arial, sans-serif;
  height: 100%;
}

/* 섹션 스타일 */
.section {
  margin: 40px 0;
  padding: 40px 0;
   width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
} 

.customer {
  background-color: #EEF6F3;
}


.compensation {
  background-color: #F5F6F8;
  flex-direction: row;
  justify-content: center;
}

/* 제목 스타일 */
h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
  text-align: left;
}
/* 버튼 스타일 */
body .btn.btn_custom {
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  text-align: center;
  height: 100%;
  width: auto;
  margin: 5px 0;
  padding: 0;
  font-size: 14px;
 }

body .btn.btn_custom:hover {
  background-color: #e0e0e0;
  border-color: #bbb;
}

body .btn_custom svg {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
}
/* 이미지 컨테이너 */
.img_container {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 양쪽에 배치 */
  flex-direction: row; /* 이미지를 오른쪽으로 배치 */
}

.img_container img {
   object-fit: cover; /* 이미지가 잘리지 않도록 설정 */
}

/* 무엇을 도와드릴까요? */
.help img {
  width: 100px;
}

.help h1 {
  font-size: 2rem;
  margin: 20px 0;
}

body .search_input {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.bold{
  font-weight: bold;
  text-align: center;
}

/* 고객센터 안내 */
.customer{
  max-height: 300px;
}

.customer .contact_info {
  display: flex;  /* 전화번호 가로정렬 */
  flex-direction: row; /* 가로로 배치 */
  text-align: center;
  }

  .contact_info .col-6 {
    width: auto;
    position: relative; /* 가상 요소를 부모에 상대적으로 배치할 수 있도록 설정 */
    text-align: center;
    font-size: large;
    padding: 0px 10px; /* 구분선과 항목 사이에 여백 추가 */
    margin: 30px;
  }
 
.contact_info .col-6:not(:last-child) {
  border-right: 1px solid #ccc; /* 마지막 항목을 제외한 항목들에 구분선 추가 */
}

.contact_info .col-6:first-child {
  padding-right: 50px; /* 마지막 항목의 오른쪽 여백을 없앰 */
}

.customer img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

/* 피해 신고하기 */
.report{
 padding: 30px 0;
}
.report h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  
}
.report .row {
  max-width: 740px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

/* 토스 안심보상제 */
.compensation {
  display: flex;
   margin-top: 40px;
}

.compensation h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* 안심보상 이미지 */
.compensation img {
  width: 400px;
}
