@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {margin: 0; padding: 0;}
ol,ul { list-style: none; }
a {text-decoration: none;}
p,a,h1,h2,h3,h4,h5,h6{font-family: Pretendard;}


/* navigation bar */
.toss_nav{width: 100%; height: 60px; position: fixed; display: flex; align-items: center; justify-content: center; background: white; z-index: 1;}
.toss_navmenu{width: 90%; margin: auto; height: 100%;}
.toss_navmenu_inner{display: flex; justify-content: center; align-items: center; height: 100%; }


/* logo */
.toss_logo_container{display: flex; justify-content: center; align-items: center; margin-right: 24px;}
.toss_logo_container img{width: 30px; height: 30px;}
.toss_logo_container p{font-weight: 700; font-size: 20px;}


/* mobile menu */
.toss_mobile_menu{display: flex;  align-items: center; visibility: hidden; } /* visibility:hidden = 버튼 투명화*/
#toss_app{background-color: #2471E6; border: none; border-radius: 15px; width: 76px; height: 30px; font-size: 12px; font-weight: 500; color: white; margin-right: 12px; cursor: pointer;}
#toss_mobile_btn{display: flex; flex-direction: column; justify-content: space-between; width: 24px; height: 24px; border: none; background: transparent;  cursor: pointer; }
#toss_mobile_btn .bar{width: 100%; height: 1px; background-color: rgb(176, 184, 193); border-radius: 2px;}


/* main menu */
.toss_menu_container ul{display: flex; align-items: center;}
.toss_menu_container ul li{padding: 0 10px;} 
.toss_menu_container ul li a{padding: 12px 10px; font-size: 15px; white-space: nowrap;}



/* language menu */
.toss_language{display: flex; align-items: center;}
.toss_language>li>#kor{margin-left: 44px;}



/* main */
/* section 01 */
.section01{position: relative; width: 100%; overflow: hidden;}
.mainsec{position: relative;}
.tossimg_main{width: auto; height: 100vh;}
.tossimg_main>img{object-fit: cover; width: 100%; height: 100%; z-index: -1;}

/* main image gradient */
.tossimg_main::before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 55%; background: linear-gradient(to bottom, white,  transparent);}


/* section 01-01 */
.toss_sectext01{position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; top: 0; left: 0;}
.toss_sectext01_01{width: 100%; margin-top: 170px; display: flex; align-items: center; flex-direction: column; justify-content: center;}
.toss_sectext01_01>h1{text-align: center; margin-bottom: 50px; font-size: 66px; font-weight: 700;  word-break: keep-all; white-space: pre-line;}

/* store button */
.storebtn{display: inline-flex; justify-content: center; align-items: center; cursor: pointer; background:rgba(0, 12, 30, 0.8); border-radius: 10px; color: white; padding: 11px 22px;}
.storebtn img{width: 24px; margin-right: 6px;}
.storebtn:hover{background-color: rgb(86, 89, 104); transition: 0.5s;}

.toss_sectext01 button{border: none; background: transparent; margin-bottom: 30px; cursor: pointer; }
.toss_sectext01 button i{font-size: 50px; color: rgba(148, 146, 146, 0.637); }


/* section 01_02 */

.toss_section01_02{position: relative; padding: 200px 0; align-items: center; justify-content: center; background-color: #F9FAFB;}
.toss_section01_02 p{font-size: 30px; white-space: pre-line; text-align: center; margin-bottom: 50px;}
/* footer */
a {
    text-decoration: none; /* 기본적으로 밑줄 제거 */
    color: #6c757d; /* 기본 색상 */
  }
  
  a:hover {
    text-decoration: underline; /* hover 시 밑줄 추가 */
    color: #0056B3 !important; /* hover 시 파란색으로 변경 */
  }
      .bg-light {
        background-color: #F9FAFB !important;
      }
  
      h5 {
        font-weight: bold;
      }
  
      #info {
        text-align: left;
        font-size: 14px;
      }
  
      .footer-links {
      display: grid;
       grid-template-columns: repeat(4, calc(20% - 15px)); /* 각 항목의 너비(width)를 20%에서 간격(15px)만큼 빼기 */
      gap: 7px; /* 행 간격 유지 */
      margin-top: 20px;
      font-size: small;
      }
  
      .footer-links a {
        color: #6c757d;
      }
  
      .text-muted {
    margin-top: 10px;
      }
  
      ul.list-unstyled li {
    margin-bottom: 5px; /*각 li(링크) 하단 여백 5px 추가*/
  }
  
  @media (max-width: 768px) {
    .footer-links {
      grid-template-columns: 1fr; /* 작은 화면에서는 1개씩 보이게 설정 */
    }
  }
