* {
  padding: 0;
  margin: 0;
}

.navbar {
  border: none !important;
  background-color: white !important;
  box-shadow: none !important;
}

nav > .container {
  background-color: white;
}

nav img {
  margin-top: 22px;
  margin-left: 40px;
  width: 82px;
}

#myNavbar {
  margin-top: 10px;
  font-size: 16px;
}

.navbar-toggle {
  display: block !important;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #e7e7e7;
  border-radius: 10px;
  border-collapse: 10px;
  color: white;
}

#mainTitle {
  margin-top: 180px;
  margin-left: 40px;
  font-size: 45px;
  font-weight: bold;
}

#list {
  margin-top: 60px;
  padding-left: 40px;
}

.notice-content {
  color: #454545;
}

.notice-list li a {
  text-decoration: none;
  margin-bottom: 0;
  font-weight: 700;
  color: #454545;
}

.date {
  margin-top: 0;
  color: #848484;
  font-weight: 400;
}

.notice-list {
  list-style: none;
}

.custom-pagination {
  margin-left: 35px;
}

.custom-pagination li a {
  margin: 5px 5px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  background: none;
  border-radius: 50%;
  color: #757575;
}

.prev > a, .next > a {
  font-weight: 400 !important;
  color: #b5b5b5 !important;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none !important;
  }
}




