.tds-pc.badge--medium {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 15px;
}
.tds-pc.badge {
  display: inline-block;
  font-weight: 700;
}
.css-8hx5ns {
  margin: 0px 8px 8px 0px;
}
.badge {
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-1rpld2x {
  user-select: text;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  color: var(--adaptiveGrey800);
  margin-bottom: 16px;
}

.p-text-button--grey {
    color: #6b7684;
}
.p-text-button {
  cursor: pointer;
  font-size: inherit;
  white-space: nowrap;
  display: inline-flex;
  transition: background-color .2s ease;
}
.reset-button {
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.typography--medium {
  font-weight: 500;
}
.css-l68ndi {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #6b7684;
  margin-bottom: 72px;
}
.css-kjl5ev {
  width: 100%;
  height: fit-content;
  margin-top: 16px;
}
.css-l68ndi * {
  user-select: text;
}
.p-post ol li, .p-post ul li {
  position: relative;
  margin-bottom: 8px;
}
a, a:focus, a:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
